<nav class="navbar navbar-expand-lg navbar-light" style="/*background-color: #008000;*/">
  <a class="navbar-brand" href="/"> <img src="../img/sello.png" alt="" class="d-inline-block align-top" width="30" height="30" alt="">LDBSPSP</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="menujugador" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Jugador
        </a>
        <div class="dropdown-menu" aria-labelledby="menujugador">
          <a class="dropdown-item" href="/players/add">Ingreso</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="/players/search">Busqueda</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="/players">Ver</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="menuequipo" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Equipo
        </a>
        <div class="dropdown-menu" aria-labelledby="menuequipo">
          <a class="dropdown-item" href="/teams/add">Ingreso</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="/teams/search">Busqueda</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="/teams">Ver</a>
        </div>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="menucategoria" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Categoria
        </a>
        <div class="dropdown-menu" aria-labelledby="menucategoria">
          <a class="dropdown-item" href="/categories/add">Ingreso</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="/categories/search">Busqueda</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="/categories">Ver</a>
        </div>
      </li>

        <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="menusesion" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Perfil
              </a>
              <div class="dropdown-menu" aria-labelledby="menusesion">
                <a class="dropdown-item" href="/profile">Ver Perfil</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="/logout">Cerrar Session</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="/singin">Sing in</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="/singup">Sing up</a>

              </div>

          </li>


    </ul>

  </div>
</nav>
